/* FontAwesome for working BootSnippet :> */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.margeninterior, .navbar.nintendoHeader, .navbar.xboxHeader, .navbar.playHeader {
  padding-bottom: 0;
}

.navbar {
  background-image: url(../Assets/images/bannerIndex.jpg);
  background-size: contain;
  display: flex;
  align-items: flex-end;
}
.navbar .navbar-toggler {
  border-color: white;
}
.navbar .navbar-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.navbar .nav-item {
  background: linear-gradient(to right, darkblue, lightblue) !important;
}
.navbar .nav-item .nav-link {
  color: white !important;
}
.navbar .nav-item .nav-link:hover {
  font-size: 150%;
}
.navbar .btn {
  color: white !important;
}

.navbar.playHeader {
  background-image: url(../Assets/images/bannerPlay.jfif);
}
.navbar.playHeader .nav-item {
  background: linear-gradient(to right, #222227, #757d80) !important;
}

.navbar.xboxHeader {
  background-image: url(../Assets/images/bannerXbox.jpg);
}
.navbar.xboxHeader .nav-item {
  background: linear-gradient(to right, #164d27, #219927) !important;
}

.navbar.nintendoHeader {
  background-image: url(../Assets/images/bannerNintendo.jpg);
}
.navbar.nintendoHeader .nav-item {
  background: linear-gradient(to right, #d31414, #f84242) !important;
}

.carousel-control-prev, .carousel-control-next {
  height: 50px;
  width: 50px;
}
.carousel-control-prev .carousel-control-prev-icon, .carousel-control-prev .carousel-control-next-icon, .carousel-control-next .carousel-control-prev-icon, .carousel-control-next .carousel-control-next-icon {
  outline: black;
  background-color: rgba(0, 0, 0, 0.705);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.carousel-indicators li {
  background-color: black;
}

/*Creamos el bucle para usar los valores del mapa*/
.marquesinaplay h2 {
  color: #3737be;
  text-shadow: 5px 5px 5px rgba(28, 28, 155, 0.884);
}

.marquesinaxbox h2 {
  color: #219927;
  text-shadow: 5px 5px 5px #164d27;
}

.marquesinanintendo h2 {
  color: #f84242;
  text-shadow: 5px 5px 5px #d31414;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.row article {
  padding: 0 0 0 3rem !important;
}
.row aside {
  padding: 0 3rem 0 0 !important;
}
.row .image-flip:hover .backside,
.row .image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  /* border-radius: .25rem; */
}
.row .image-flip:hover .frontside,
.row .image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.row .mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.row .mainflip .frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  /* margin-bottom: 30px; */
  /* Lista de juegos */
}
.row .mainflip .frontside .imgjuegos {
  border-radius: 10px !important;
}
.row .mainflip .frontside .imgjuegos:hover {
  border: solid;
  border-color: rgba(28, 28, 155, 0.884);
  transform: scale(1.1, 1.1);
}
.row .mainflip .backside {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
}
.row .mainflip .frontside,
.row .mainflip .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 2s;
  -moz-transform-style: preserve-3d;
  -o-transition: 2s;
  -o-transform-style: preserve-3d;
  -ms-transition: 2s;
  -ms-transform-style: preserve-3d;
  transition: 2s;
  transform-style: preserve-3d;
}

.page-footer {
  background-image: url(../Assets/images/footer.jpg);
  color: white !important;
  margin-top: 2rem;
}

/* reseteo html */
* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

.margenes, h5, h4, h2 {
  margin: 30px;
}

/* Header */
/* Index body */
/* Footer */

/*# sourceMappingURL=style.css.map */
