$color-blanco: white;
$color-negro: black;
$color-gris: rgb(90, 86, 86);
$colormenuprimario: darkblue;
$colormenusecundario: lightblue;
$colorplayprimario: rgb(34, 34, 39);
$colorplaysecundario: rgb(117, 125, 128);
$colorxboxprimario: rgb(22, 77, 39);
$colorxboxsecundario: rgb(33, 153, 39);
$colornintendoprimario: rgb(211, 20, 20);
$colornintendosecundario: rgb(248, 66, 66);
$colorjuegos: rgba(28, 28, 155, 0.884);
$colorcarousel: rgba(0, 0, 0, 0.705);
$colormarquesinaprimario: rgb(55, 55, 190);
$colorFondoVideo:rgba(0,0,0,0.8)
