
.carousel-control-prev,.carousel-control-next{
    height: 50px;
    width: 50px;

    & .carousel-control-prev-icon, .carousel-control-next-icon {
        outline: $color-negro;
        background-color: $colorcarousel;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid $color-negro;
    }
}
.carousel-indicators {
    & li{
        background-color: $color-negro;
    }
}

$marquesinas: (
    /*Declaramos nuestro mapa*/
    play: ($colormarquesinaprimario, $colorjuegos),
    xbox: ($colorxboxsecundario, $colorxboxprimario),
    nintendo: ($colornintendosecundario, $colornintendoprimario),
    );

/*Creamos el bucle para usar los valores del mapa*/
@each $marquesina, $colormarquesina in $marquesinas {
    .marquesina#{$marquesina}{
        & h2{
            color: nth($colormarquesina, 1); 
            text-shadow:5px 5px 5px nth($colormarquesina, 2);
        }
    }
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;

    & article {
        padding: 0 0 0 3rem !important;
    }
    & aside{
        padding: 0 3rem 0 0 !important;
        
    }

}
