
.carousel-control-prev,.carousel-control-next{
    height: 50px;
    width: 50px;

    & .carousel-control-prev-icon, .carousel-control-next-icon {
        outline: $color-negro;
        background-color: $colorcarousel;
        background-size: 100%, 100%;
        border-radius: 50%;
        border: 1px solid $color-negro;
    }
}
.carousel-indicators {
    & li{
        background-color: $color-negro;
    }
}

$marquesinas: (
    /*Declaramos nuestro mapa*/
    play: ($colormarquesinaprimario, $colorjuegos),
    xbox: ($colorxboxsecundario, $colorxboxprimario),
    nintendo: ($colornintendosecundario, $colornintendoprimario),
    );

/*Creamos el bucle para usar los valores del mapa*/
@each $marquesina, $colormarquesina in $marquesinas {
    .marquesina#{$marquesina}{
        & h2{
            color: nth($colormarquesina, 1); 
            text-shadow:5px 5px 5px nth($colormarquesina, 2);
        }
    }
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;

    & article {
        padding: 0 0 0 3rem !important;
    }
    & aside{
        padding: 0 3rem 0 0 !important;
        
    }

    @mixin transform($property) {
        -webkit-transform: $property;
        -ms-transform: $property;
        -o-transform: $property;
        transform: $property;
      }

    & .image-flip:hover .backside,
    .image-flip.hover .backside {
        @include transform(rotateY(0deg));
        -ms-transform: rotateY(0deg);
        /* border-radius: .25rem; */
    }

    & .image-flip:hover .frontside,
    .image-flip.hover .frontside {
        @include transform(rotateY(180deg));
    }

    & .mainflip {
        -webkit-transition: 1s;
        -webkit-transform-style: preserve-3d;
        -ms-transition: 1s;
        -moz-transition: 1s;
        -moz-transform: perspective(1000px);
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transition: 1s;
        transform-style: preserve-3d;
        position: relative;

        & .frontside {
            position: relative;
            -webkit-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            z-index: 2;
            /* margin-bottom: 30px; */

            /* Lista de juegos */
            & .imgjuegos{
                border-radius: 10px!important;
            }
            & .imgjuegos:hover{
                border: solid;
                border-color: $colorjuegos;
                transform: scale(1.1,1.1);
            }
        }
        
        & .backside {
            position: absolute;
            top: 0;
            left: 0;
            @include transform(rotateY(-180deg));
            -ms-transform: rotateY(-180deg);
            // -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            // -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            // box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }
        
        & .frontside,
        .backside {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition: 2s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 2s;
            -moz-transform-style: preserve-3d;
            -o-transition: 2s;
            -o-transform-style: preserve-3d;
            -ms-transition: 2s;
            -ms-transform-style: preserve-3d;
            transition: 2s;
            transform-style: preserve-3d;
        }
    }
}





