/* FontAwesome for working BootSnippet :> */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@import "colores";
@import "header";
@import "main";
@import "footer";



/* reseteo html */
*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
/* Index body */

h2{
    margin: 30px;
}
h4{
    margin: 30px;
}
h5{
    margin: 30px;
}
/* Footer */
